.titulo{
    text-align: center;
    margin-bottom: 20px;
    padding: 25px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    background-color: rgba(250, 235, 215, 0.66);
    font-size: 50px;
}
.nav-container{
    background-color: rgb(105, 66, 113);
    
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    color: black;
}
.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.nav-link:hover {
    transform: scale(1.2);
}
.cart-container {
  position: relative;
  display: inline-block;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}